body {
    font-family: Arial, sans-serif;
    background-color: #ede7dd; /* Light brown background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.homeContainer {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Adjusted to fit two buttons per row */
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.geoButton {
    width: 240px; /* Width for a rectangular shape */
    height: 140px; /* Increased height for thicker buttons */
    font-size: 18px;
    color: #fff;
    background-color: #3b6d4e; /* Dark pine green color */
    border: none;
    border-radius: 3px; /* Smaller border-radius for a blockier look */
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; /* Ensure the text is not underlined */
}

.geoButton:hover {
    background-color: #2e5338; /* Darker pine green color on hover */
}

a {
    text-decoration: none;
}
a:visited { text-decoration: none; color: white; }
a:hover { text-decoration: none; color: white; }
a:focus { text-decoration: none; color: white; }
a:hover, a:active { text-decoration: none; color: white; }